@import '../styles/colors.scss';

.pkmn__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1250px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pkmn__card {
    min-width:250px;
    min-height:250px;
    background-color: $pk-red;
    border: 1px solid white;
}

.title {
    display:flex;
    width:100%;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.search__pkmn {
    &__wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
}